<h1 class="mb-1 restaurant-show-title">Not Found</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <img class="rounded mx-auto d-block mb-4 w-100"
        src="https://images.pexels.com/photos/1888015/pexels-photo-1888015.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="show error" style="max-width: 600px;">
    </div>
  </div>
</div>